
<div class="footer-container">
  <div class="content-footer">
    <div class="text-wrapper">
      <div class="heading">
        Campus Partners
      </div>
      <div class="heading-question">
        Do you want to represent an Institution?
      </div>        
      <div class="content">
        LeaderClasses is at a very interesting phase of its growth
         and is actively looking to expand our Campus Partnerships Pan-India.
      </div>
      <div class="content">
        If you are an Institutional Representative of a University / College 
        interested in building a relation with us, we invite you to review our "
        <a style="text-decoration:none; color:black;" href="/campus-partners">Campus Partners</a> 
        page and submit your details via our Campus Partners form.
      </div>     
      <div class="content">
        We look forward to hearing from you soon and
        will advise interest/next steps within 5 Business Days
        of receipt of your
        <a  style="text-decoration:none; color: black;" href="https://www.leaderclasses.com/campus-partners-form">
        Campus Partners Form</a>.
      </div>
      <div class="content">
        Thanks for your Time and Attention! 
      </div>
      <div class="content">
        Team - LeaderClasses.
      </div>
      <div class="contact-button">
        <a style="text-decoration: none; color: black;" href="https://www.leaderclasses.com/leaderclasses-contact-form">Contact</a>
      </div>
    </div>
  </div>    
</div>