<div class="footer-bottom-container">
  <div class="social-media-container">
    Share    <br>    
    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=linkedin.com/company/leaderclasses&amp;title=&amp;summary=&amp;source=" >
      <img src="https://uploads-ssl.webflow.com/5cee4a9d039b6f4c26addf6b/5d25603ab18bb047f72c5ec1_iconfinder_linked_in_online_social_media_734393.png" width="48" height="48" alt="leaderclasses Linkedin share">
    </a>
    <a href="https://twitter.com/home?status=https%3A//twitter.com/leaderclasses">
      <img src="https://uploads-ssl.webflow.com/5cee4a9d039b6f4c26addf6b/5d255eddb18bb065352c5da8_iconfinder_twitter_online_social_media_734367.png" width="48" height="48" alt="leaderclasses twitter share" class="image-23">
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FLeaderClasses-105817960762777%2F%3Fmodal%3Dadmin_todo_tour&amp;amp;src=sdkpreparse">
      <img src="https://uploads-ssl.webflow.com/5cee4a9d039b6f4c26addf6b/5d255ec6a6f2f1c98f4a7984_iconfinder_online_social_media_facebook_734386.png" width="48" height="48" alt="leaderclasses facbook share" class="image-64">
    </a>
    <br>
    Follow Us<br>
    <a href="https://www.linkedin.com/company/leaderclasses" >
      <img src="https://uploads-ssl.webflow.com/5cee4a9d039b6f4c26addf6b/5d25603ab18bb047f72c5ec1_iconfinder_linked_in_online_social_media_734393.png" width="48" height="48" alt="leaderclasses linkedin Follow">
    </a>
    <a href="https://twitter.com/leaderclasses">
      <img src="https://uploads-ssl.webflow.com/5cee4a9d039b6f4c26addf6b/5d255eddb18bb065352c5da8_iconfinder_twitter_online_social_media_734367.png" width="48" height="48" alt="leaderclasses twitter Follow" >
    </a>
    <a href="#">
      <img src="https://uploads-ssl.webflow.com/5cee4a9d039b6f4c26addf6b/5d255ec6a6f2f1c98f4a7984_iconfinder_online_social_media_facebook_734386.png" width="48" height="48" alt="leaderclasses Facbook Follow">
    </a>
    <a href="https://www.instagram.com/leaderclassesofficial">
      <img src="https://uploads-ssl.webflow.com/5cee4a9d039b6f4c26addf6b/5d9f1a45c6ed5f0923e1e188_2018_social_media_popular_app_logo_instagram-512.png" width="48" height="48" alt="leaderclasses Instagram Follow" srcset="https://uploads-ssl.webflow.com/5cee4a9d039b6f4c26addf6b/5d9f1a45c6ed5f0923e1e188_2018_social_media_popular_app_logo_instagram-512-p-500.png 500w, https://uploads-ssl.webflow.com/5cee4a9d039b6f4c26addf6b/5d9f1a45c6ed5f0923e1e188_2018_social_media_popular_app_logo_instagram-512.png 512w" sizes="(max-width: 479px) 100vw, 48px">
    </a>
  </div>
  <div class="support-container">
    <a href="https://www.leaderclasses.com/contact" style="padding:10px;" target="_blank" >Contact</a><br>
    <a href="https://www.leaderclasses.com/terms-and-conditions" style="padding:10px;" target="_blank">Terms</a><br>
    <a href="https://www.leaderclasses.com/privacy" style="padding:10px;" target="_blank" >Privacy</a>
  </div>
</div>
<div class="footer-bottom-container">
  <div class="content-container">
    © 2019 LeaderClasses ( Awesome Firms ) and its owners. All rights reserved.<br>
    All trademarks, logos and intellectual property featured belong to their respective owners.
    They do not endorse us in any way.
  </div>
</div>