<div class="offline-events-container">
  <div class="description">
    <h2 class="heading">
      High Impact Offline Events
    </h2>
    <div class="content">
      Members are also invited to specialized, high impact, one-Day, Career Advancement 
      Strategic Transformation (CAST) workshops held 
      offline at select cities countries, for an immersive learning networking experience enabling them to
      broaden and deepen their leadership foundations while learning first hand with us and
      efficiently network build relationships with their finest peers.
    </div>
    <div class="content">
      These high impact, one day, offline CAST events are aligned to the strategic 
      career management leadership development needs at three stages of our members' life.
    </div>    
  </div>
  <div class="cards-container">
    <div class="cards">
      <div class="card text-info mb-3" style="box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1); max-width: 18rem; display: inline-block; margin: 20px;">
        <div class="card-header" style="text-align: center;background-color: #4dc3ff;
        color: white;">Commerce and other students</div>
        <div class="card-body" style="color:black;">
          <p class="card-text">Ambitious Chartered Accountants, Commerce, 
            Business, Arts, Sciences other Students aspiring to progress
             to Director Higher level roles within 10-12 years of completing their education</p>
        </div>
      </div>

      <div class="card text-info mb-3" style="box-shadow: 0 20px 30px 0 #f1f1f1; max-width: 18rem; display: inline-block; margin: 20px;">
        <div class="card-header" style="text-align: center;background-color: #4dc3ff;
        color: white;">Budding Leaders for Engineering Students</div>
        <div class="card-body" style="color:black;">
          <p class="card-text">Ambitious Engineering Students aspiring to
             progress to Director / GM / VP / Higher level roles within 
             10-12 years of completing their education.</p>
        </div>
      </div>


      <div class="card text-info mb-3" style="box-shadow: 0 20px 30px 0 #f1f1f1; max-width: 18rem; display: inline-block; margin: 20px;">
        <div class="card-header" style="text-align: center;background-color: #4dc3ff;
        color: white;">MS / Phd / ME / M.tech Students</div>
        <div class="card-body " style="color:black;">
          <p class="card-text"> Ambitious MS, PhD, ME and M.Tech Students 
             aspiring to progress to Director / GM / VP / Higher level roles
              within 10-12 years of completing their education.</p>
        </div>
      </div>

      <div class="card text-info mb-3" style="box-shadow: 0 20px 30px 0 #f1f1f1;  max-width: 18rem; display: inline-block; margin: 20px;">
        <div class="card-header" style="text-align: center;background-color: #4dc3ff;
        color: white;">MBA students</div>
        <div class="card-body " style="color:black;">
          <p class="card-text">Ambitious MBA Students aspiring to progress
             to Director / GM / VP / Higher level roles within 10-12 years 
             of completing their education.</p>
        </div>
      </div>

      <div class="card text-info mb-3" style="box-shadow: 0 20px 30px 0 #f1f1f1; max-width: 18rem; display: inline-block; margin: 20px;">
        <div class="card-header" style="text-align: center;background-color: #4dc3ff;
        color: white;">Working Professionals</div>
        <div class="card-body" style="color:black;">
          <p class="card-text">Ambitious MBA Students aspiring to progress
            to Director / GM / VP / Higher level roles within 10-12 years 
            of completing their education.</p>
        </div>
      </div>

      <div class="card text-info mb-3" style="box-shadow: 0 20px 30px 0 #f1f1f1; max-width: 18rem; display: inline-block; margin: 20px;">
        <div class="card-header" style="text-align: center;background-color: #4dc3ff;
        color: white;">Future Leaders</div>
        <div class="card-body" style="color:black;">
          <p class="card-text">Ambitious Working Professionals
             ( Annual Gross Compensation Upto INR 50 Lakhs per annum if
              based in India and upto USD 200K p.a if based outside India ) 
              keen on accelerating their success to transition into our Future
               Leaders category within the next 6-8 years.</p>
        </div>
      </div>

      <div class="card text-info mb-3" style="box-shadow: 0 20px 30px 0 #f1f1f1; max-width: 100%; display: inline-block; margin: 10px 50px;">
        <div class="card-header" style="text-align: center;background-color: #4dc3ff;
        color: white;">Emerging Leaders</div>
        <div class="card-body" style="color:black;">
          <p class="card-text">Ambitious Country / Multi-Country / Global Business Heads / Function Heads / Country Heads / Country Managers / C-Level Professionals / Partners / Senior Partners / Managing Directors / Presidents, Entrepreneurs, Family Business Leaders, Founders / Co-Founders / Founding Team Members of Growth and Expansion Stage Ventures ( Annual Compensation > INR 1 Crore p.a in India and Over US $ 500K if based outside India ) keen on evolving within the next decade to Global / Group C-Level / Board Level roles typically offering an Annual Compensation > US $ 1 Million in India and Over US $ 5 Million if based outside India.</p>
        </div>
      </div>
    </div>
  </div>
  <div style="padding: 35px 60px;">
    <div class="content">To know more about and to join our exclusive,
      exceptional network of ambitious minds, we invite you to review our
      <a style="text-decoration:none;" href="https://www.leaderclasses.com/membership">Membership</a> page.
      We look forward to hearing from and having you in our exceptional network, soon.
   </div>
  </div>
</div>