.offline-events-container{
    background-color: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vw;
    flex-direction: column;    
    padding-bottom: 20px;
    color: rgba(0,0,0,0.7);
    .description{
        width: 100%;
        font-size: 20px;
        text-align: center;
        margin: auto;
        padding-left: 40px;
        padding-right: 20px;       
        font-weight: 400;
        padding: 20px;
        .content{
            padding: 10px;
        }
    }
    .cards-container{
        width: 100%;
        padding: 20px;
        .cards{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
        }
    }
   
}