<div style="display: flex; flex-wrap: wrap; position: relative;">
  <span style="position: absolute; top: 2px; right: 2px; display: block;cursor: pointer;font-size: 30px;
  font-weight: bold;" (click)="function()">X</span>
  <span class="biography" style="display: inline-flex; padding: 30px;">
    An MBA from the University of Chicago and a CFA charter holder, Ram brings 
    over 26+ of experience gained at Citibank,
    Standard Chartered and Barclays across various geographies and divisions to his 
    current responsibility of designing and executing country strategy for Barclays in India,                  
    with accountability for financial performance and market position for the Bank. 
    Additionally, Ram is also a member of the 
    European Business Group Banking Finance Committee representing the firms interests.
  </span>
  <div style="display: inline-flex;margin: 0px auto;">  
      <div class="html-embed w-embed w-iframe">
        <iframe src="//fast.wistia.net/embed/iframe/tyz4jtbdeh" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen="" alt="video of Ram Gopal, CEO, Barclays India providing CEO testimonials for Leaderclasses" style="width:100%"></iframe>
      </div>
  </div>
</div>


 
