<div class="featureone-container"> 
  <div class="content">
    Relentlessly tracks and learns from 
    100+ fulltime/executive development 
    programs at pre-eminent universities
  </div>
  <div class="image">
    <div class="image-wapper">
      <img src="../../assets/images/MIT.jpg" class="image-options">
    </div>
    <div class="image-wapper">
      <img src="../../assets/images/Cambridge.jpg" class="image-options">
    </div>
    <div class="image-wapper">
      <img src="../../assets/images/Stanford.jpg" class="image-options">
    </div>
    <div class="image-wapper">
      <img src="../../assets/images/Berkely.png" class="image-options">
    </div>
    <div class="image-wapper">
      <img src="../../assets/images/Oxford.jpg" class="image-options">
    </div>
    <div class="image-wapper">
      <img src="../../assets/images/Hardwarduniv.jpg" class="image-options">
    </div>
  </div>
</div>