
<div style="display: flex; flex-wrap: wrap; position: relative;">
  <span style="position: absolute; top: 2px; right: 2px; display: block;cursor: pointer;font-size: 30px;
  font-weight: bold;" (click)="function()">X</span>
  <span class="biography" style="display: inline-flex; padding: 30px;">    
    An ISB Alumnus, Achint is an Industry 
    Fast Tracker from the TMT sector, bringing his experience at Microsoft, McKinsey
    and Viacom across Product Development, Strategy, Corporate Development, 
    Innovation and Market Development to his current role 
    of building Myntra leveraging his Digital Strategy and Execution expertise.
  </span>
  <div style="display: inline-flex;margin: 0px auto;">  
      <div class="html-embed w-embed w-iframe">
        <iframe src="//fast.wistia.net/embed/iframe/2pzbkn5sl6" 
          scrolling="no" class="wistia_embed" name="wistia_embed" 
          allowfullscreen="true" 
          alt="video of Achint Setia, Vice President, Marketing at 
          Myntra providing CEO testimonials for Leaderclasses" style="width:100%">
      </iframe>
      </div>
  </div>
</div>

