<div class="featuretwo-container">   
  <div class="image">
    <div class="image-wapper">
      <img src="../../assets/images/World-economic-forum.jpg" class="image-options">
    </div>
    <div class="image-wapper">
      <img src="../../assets/images/The-aspen-institute.png" class="image-options">
    </div>
    <div class="image-wapper">
      <img src="../../assets/images/brookings.jpg" class="image-options">
    </div>
    <div class="image-wapper">
      <img src="../../assets/images/EMKF.png" class="image-options">
    </div>
  </div> 
  <div class="content">
    Gets the learning from Economy and Globalization majors
  </div>   
</div>