
<div style="display: flex; flex-wrap: wrap; position: relative;">
  <span style="position: absolute; top: 2px; right: 2px; display: block;cursor: pointer;font-size: 30px;
  font-weight: bold;" (click)="function()">X</span>
  <span class="biography" style="display: inline-flex; padding: 30px;">
    An IIFT Alumnus, Nitin is an Industry Fast Tracker from the E-Commerce 
    and FMCG sectors, bringing his experience in Corporate Finance, Marketing, 
    Category Management and Market Development at Flipkart, Shopclues 
    and Rivigo to his current role of heading 
    the Consumer IoT business of Hero Electronix planned for a 2019 launch. 
  </span>
  <div style="display: inline-flex;margin: 0px auto;">  
      <div class="html-embed w-embed w-iframe">
        <iframe src="//fast.wistia.net/embed/iframe/ednmcs3w67" scrolling="no" 
        class="wistia_embed" name="wistia_embed" allowfullscreen="true" 
        alt="video of Nitin Kochhar, COO at Hero 
        Electronix providing CEO testimonials for Leaderclasses" style="width:100%"></iframe>
      </div>
  </div>
</div>


 