<div style="display: flex; flex-wrap: wrap; position: relative;">
  <span style="position: absolute; top: 2px; right: 2px; display: block;cursor: pointer;font-size: 30px;
  font-weight: bold;" (click)="function()">X</span>
  <span class="biography" style="display: inline-flex; padding: 30px;">    
    An Alumnus of IIT-BHU and IIMA, Gunjan brings over 28+ years at work at 
    Gillette, Philips,Sennheiser and Bosch Siemens in Strategy, Consumer Marketing
    and Market Development across Europe and Asia to his current role as Chairman of the 
    Region Asia Pacific Board of Bosch Siemens Home Appliances Asia Pacific Business.
  </span>
  <div style="display: inline-flex;margin: 0px auto;">  
      <div class="html-embed w-embed w-iframe">
        <iframe  src="//fast.wistia.net/embed/iframe/zy9cntdbjy" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen="true" alt="video of Gunjan Srivastava, Chairman - Region Asia Pacific Board, Bosch Siemens Home Appliances providing CEO testimonials for Leaderclasses" style="width:100%">
        </iframe>
      </div>
  </div>
</div>



