
<div class="featurethree-container">   
    <div class="content">
        <span>50+ renowned High Potential (Hi-Po) Executive Leadership Development programs of Top Tier Organisations</span>
    </div> 
</div>
  
  <div class="slide-container">
    <owl-carousel-o [options]="customOptions">
      <ng-container>
        <ng-template carouselSlide id="1"><img class="image-prop" src="../../assets/images/google.png"></ng-template>  
        <ng-template carouselSlide id="2"><img class="image-prop" src="../../assets/images/apple.png"></ng-template>  
        <ng-template carouselSlide id="3"><img class="image-prop" src="../../assets/images/citi.jpg"></ng-template>  
        <ng-template carouselSlide id="4"><img class="image-prop" src="../../assets/images/coca cola.png"></ng-template>  
        <ng-template carouselSlide id="5"><img class="image-prop" src="../../assets/images/GE.png"></ng-template>  
        <ng-template carouselSlide id="6"><img class="image-prop" src="../../assets/images/Goldman sachs.png"></ng-template>  
        <ng-template carouselSlide id="7"><img class="image-prop" src="../../assets/images/gsk.jpg"></ng-template>  
        <ng-template carouselSlide id="8"><img class="image-prop" src="../../assets/images/unilever.png"></ng-template>  
        <ng-template carouselSlide id="9"><img class="image-prop" src="../../assets/images/SPA.jpg"></ng-template>  
        <ng-template carouselSlide id="10"><img class="image-prop" src="../../assets/images/shell.jpg"></ng-template>  
        <ng-template carouselSlide id="11"><img class="image-prop" src="../../assets/images/P&G.jpg"></ng-template>  
        <ng-template carouselSlide id="12"><img class="image-prop" src="../../assets/images/nestle.png"></ng-template>  
        <ng-template carouselSlide id="13"><img class="image-prop" src="../../assets/images/microsoft.png"></ng-template>
        <ng-template carouselSlide id="14"><img class="image-prop" src="../../assets/images/JP Morgan.png"></ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>    
  