<section class="description-container">
  <img  class="description-bg-image" src="../../assets/images/Header.svg">
  <div class="description-inside-container">
    <div class="description-space">
      <span>
        Leader Classes  harnesses the world's best Career Advancement and
        Leadership Development resources, helping you gain Expert Knowledge,
        Practical Guidance and Actionable Insights from Extraordinary Leaders
        and World Class Institutions through Specialized, Affordable, Online 
        and Offline Programs custom crafted to Accelerate your Career and
        Business Success while transforming you into a better and more effective Leader
      </span>
      <br>
      <br>
      <span>
        To see for yourself the quality of our Video Content and how it can help you,
        we invite you to view our Founder CEO's introductory Video providing
        <a href="/videos/career-acceleration-insights-video" target="_blank" style="color:blue;text-decoration:none;">
          Expert Insights to Accelerate your Career
        </a> 
        if you have not done the same already
      </span>
    
      </div>
      <div class="description-image">
        <img  src="../../assets/images/description-image.jpg">
      </div>
  </div>
</section>