<div class="testimonials-container">
  <h2 style="padding: 60px;
  padding-top: 35px;
  text-align: center;
  width: 100%;
  color: rgba(0,0,0,0.5);
  top: 20px;
  position: relative;">CEO Testimonials</h2>
  <div class="cards-slider-container">
      <owl-carousel-o [options]="customOptions" style="position: relative;">
        <ng-container>          
          <ng-template carouselSlide id="5" >
            <div  class="image-card">
              <div class="image-wrapper">
                <img class="imagefour-prop" src="https://uploads-ssl.webflow.com/5cee4a9d039b6f4c26addf6b/5d22ce7f420c544e6a3d3d81_ram.jpg"   alt="Image of Ram Gopal, CEO, Barclays India In LeaderClasses CEO testimonials sections">
              </div>
              <div class="text-wrapper">
                <span>Ram Gopal   
                  <a style="display:inline;" href="https://in.linkedin.com/in/ram-gopal-19944723" target="_blank">
                   <img style="display:inline; height:15px; width:15px;" src="https://uploads-ssl.webflow.com/5cee4a9d039b6f4c26addf6b/5d2444fb70f33437aca3a268_linkedin.png" width="4px" height="4px">
                  </a>
                  <br>Chief Executive Officer <br>Barclays, India<br>
                </span>
                  <span (click)="openDialog()" style="font-size:15px; cursor:pointer; color: blue;">Click here to view his biography and his video testimonial</span>
                  
              </div>     
            </div>    
          </ng-template>  
          <ng-template carouselSlide id="8">
            <div  class="image-card">
              <div class="image-wrapper">
                <img class="imagefour-prop" src="https://uploads-ssl.webflow.com/5cee4a9d039b6f4c26addf6b/5d2c54f5187e93ca69c6132b_459789-srivastava.jpg">
              </div>
              <div class="text-wrapper">
                <span>Gunjan Srivastava  
                  <a href="https://sg.linkedin.com/in/gunjan-srivastava-2719b14?trk=people-guest_profile-result-card_result-card_full-click" target="_blank" class="w-inline-block">
                    <img src="https://uploads-ssl.webflow.com/5cee4a9d039b6f4c26addf6b/5d2444fb70f33437aca3a268_linkedin.png" style="width: 15px; display: inline-block; height: 15px;">
                  </a>
                  <br>Chairman - Region Asia Pacific Board. Bosch Siemens Home Appliances.<br>
                </span>
                  <span (click)="openDialog2()" style="font-size:15px; cursor:pointer; color: blue;">Click here to view his biography and his video testimonial</span>
              </div>     
            </div>    
          </ng-template>  
          <ng-template carouselSlide id="9">
            <div  class="image-card">
              <div class="image-wrapper">
                <img class="imagefour-prop" src="https://uploads-ssl.webflow.com/5cee4a9d039b6f4c26addf6b/5d2c52ba9ea87fc6110e3b01_Achint_Setia.jpg">
              </div>
              <div class="text-wrapper">
                <span>Gunjan Srivastava  
                  <a href="https://in.linkedin.com/in/achintsetia" target="_blank">
                    <img src="https://uploads-ssl.webflow.com/5cee4a9d039b6f4c26addf6b/5d2444fb70f33437aca3a268_linkedin.png" style="width: 15px; display: inline-block; height: 15px;">
                  </a>
                  <br>Vice President, Marketing at Myntra<br>
                </span>
                  <span (click)="openDialog3()" style="font-size:15px; cursor:pointer; color: blue;">Click here to view his biography and his video testimonial</span>
              </div>     
            </div>    
          </ng-template>  
          <ng-template carouselSlide id="10">
            <div  class="image-card">
              <div class="image-wrapper">
                <img class="imagefour-prop" src="https://uploads-ssl.webflow.com/5cee4a9d039b6f4c26addf6b/5d22e15cc79ae86fa59f3857_nitin.jpg">
              </div>
              <div class="text-wrapper">
                <span>Nitin Kochhar
                  <a href="https://in.linkedin.com/in/nitin-kochhar-4672401" target="_blank">
                    <img src="https://uploads-ssl.webflow.com/5cee4a9d039b6f4c26addf6b/5d2444fb70f33437aca3a268_linkedin.png"  style="width: 15px; display: inline-block; height: 15px;">
                  </a>
                  <br>COO @ Hero Electronix<br>
                </span>
                  <span (click)="openDialog4()" style="font-size:15px; cursor:pointer; color: blue;">Click here to view his biography and his video testimonial</span>
              </div>     
            </div>    
          </ng-template>  
        </ng-container>
      </owl-carousel-o>
    </div>    
</div>