<div class="featurefive-container">   
  <div class="content-wrapper">
    <div class="content">
      Ingesting an extraordinary amount of this exceptionally valuable content on 
      100+ topics of strategic importance from 
      conferences, reports, documents,  articles, blogs, 
      journals, books, websites, interviews,  magazines, videos, podcasts.
    </div>
    <div class="content">
      Curates and harmoniously blends this with our rich experience 
      of partnering with over 10000+ senior management/executive level 
      leaders and 35+ world class organizations primarily in India 
      and the US, for nearly two decades, guiding and learning 
      from them in our earlier ventures    </div>
    <div class="content">
      Contextualizes and structures this into simple, extremely 
      affordable, highly valuable, exceptional leadership development 
      programs relevant to your career stage and business needs
    </div>
    <div class="content">
      Courses accessible from our website
    </div>
    <div class="content">
      All these content offered in extremely affordable price
    </div>
    <div class="content">
      See our Annual <a style="text-decoration:none;" href="https://www.leaderclasses.com/membership">Subscription</a>
    </div>
  </div> 
  <div class="image">
    <img class="imageprop" src="../../assets/images/conference-image.JPG">
  </div>
</div>